# Disable directory listings
Options -Indexes

# Enable mod_rewrite
RewriteEngine On

# Redirect root URL to /Webler/index.php
RewriteRule ^$ /Webler/index.php [L]

# Deny access to config.php
<Files "config.php">
    Require all denied
</Files>

# Disable .js, .css files caching
<FilesMatch "\.(js|css)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
</FilesMatch>

<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header always set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
</IfModule>

