# Disable directory listings
Options -Indexes

# Enable mod_rewrite
RewriteEngine On

# Redirect root URL to /Webler/index.php
RewriteRule ^$ /Webler/index.php [L]

# Deny access to config.php
<Files "config.php">
    Require all denied
</Files>